### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

.idea
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
QueueTest.iml





target/classes/maiboroda/com/queue/ArrayQueue.class
target/classes/maiboroda/com/queue/Queue.class
target/test-classes/maiboroda/com/queue/ArrayQueueTest.class



### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store